/**/wandb

code/**/__pycache__

code/**/run.log


*.csv

*.tsv

*.tfevents



*.pkl

*.pt

public_final_project
final

funnels.json
readme_20240304.md.20240304
orders_items.json
orders_items.json
user_subscribes.json

EDA.ipynb
GPT.ipynb
test.ipynb


demo.py